.Translates {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0;
  margin-bottom: 1rem;

  .originalLanguage {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .translate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}